
.pic-container{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.picture {
width: 160px;
height: 160px;
border-radius: 50%;
margin-top: 100px;
}
body{
  overflow: hidden;
  justify-content: center;
  background-image: url(mesh.png);
  background-clip: border-box;
  background-size: cover;
  color: #F5F1F0;
  font-family: inter, Arial, Helvetica, sans-serif;
  
  text-decoration: none;
  height: 100vh;
  gap: 10px;

  }
  body, header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  }

  h1{
    margin-top: 30px;
    font-size: 20px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
h3{
margin-top: -7.5px;
margin-bottom: 45px;
font-weight: 100;
font-size: smaller;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.button {
  display: inline-block;
  width: 280px;
  height: 50px;
  background-color: #f5f1f094;
  border: none;
  border-radius: 65px;
  border: 2px solid rgba(112, 111, 211, 0);
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #363134;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s, 
}
.button:focus{
  color:#363134dd;
  box-shadow: 0px 0px 0px 1px rgba(12, 8, 224, 0.694);
  animation: anim-shadow 0.5s forwards;

}
@keyframes anim-shadow {
  100%{
    box-shadow: 0px 0px 30px 20px rgba(152, 152, 179, 0.504);
  }
  
}
  .div {
    margin-top: 43px;
    display: flex;
    max-width: 250px;
    align-items: start;
    gap: 60px;
  }
  .div-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 39px;
    fill: #f5f1f0;
  }
  .div-3 {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 41px;
    fill: #f5f1f0;
  }
  .div-4 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 41px;
  }

